*{
    margin: 0;
    padding: 0;
}
body{
    background: url(../imgs/pastofondo.png);
    background-size: cover;
    font-family: 'VT323', monospace;
}
.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "nav"
    "prof"
    "pasto"
    "centro"
    "playa"
    "footer";
    
    font-size: 24px;
}
.container a{
    text-decoration: none;
    
    
}
nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    grid-area: nav;
    width: 100%;
    height: 100%;
    
}
.pokeball{
    position: relative;
    background: #ff0000;
    border-bottom: solid 5px #000;
    height: 3.5rem;
    z-index: 3;
    width: 100%;
    display: flex;
}

.button{
    position: absolute;
    top: 10px;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: solid 5px #000;
    z-index: 10;
}
.button p{
    font-family: 'VT323', monospace;
    font-size: 18px;

}

.menu{
    position: relative;
    width: 100%;
    background: #ffff;
    z-index: 3;
    height: 0;
    overflow: hidden;
    transition: all .5s ease;
}

.activo{
    height: 50vh;

}
.menu img{
    width: 51px;
}
.menu p{
    font-size: 11px;
}
.menu ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    list-style: none;
    position: relative;
    z-index: 6;
    
}
.menu li{
    margin:1rem 0px ;
    
}
.menu a{
    color: #000;
}
.menu img{
    width: 50px;
}
.menu p{
    font-size: 12px;
}

main{
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 4rem;
    z-index: 2;
    text-align: center;
}
.bienvenida{
    display: block;
    flex-direction: column;
    grid-area: prof;
    margin-bottom: 5%;
    position: static;
    z-index: 1;
}
.prof{

    width: 100%;
}
.prof img{
    width: 140px;
    filter: drop-shadow(5px 5px 3px);
    transform: rotateY(180deg);

}
.pregunta{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.prof-text {
    width: 80%;
    margin-top: 5%;
    background: #ffffff;
    color: #000000;
    padding: 20px 0px;
    border-radius: 10px;
    border: solid 5px #ff0000;
    box-shadow: 5px 5px 4px;
}

.genero{
    display: flex;
    gap: 20px;
    align-items: end;
    margin-top: 10%;
}
.genero img{
    height: 100%;
    max-width: 100px;
    filter: grayscale( );
    transition: transform .2s;
}
.genero img:hover{
    filter: grayscale(0);
    filter:drop-shadow(5px 5px 4px)  ;
    transform: scale(2);

}
.bosque{
    position: relative;
    display: flex;
    flex-direction: column;
    grid-area: pasto;
    grid-row: 3;
    justify-content: center;
    align-items: center;
    margin-bottom: 10%;
}
.bosque-text{
    width: 80%;
    margin: 25% 0;
    background: #ffffff;
    color: #000000;
    padding: 20px 0px;
    border-radius: 10px;
    border: solid 5px #ff0000;
    box-shadow: 5px 5px 4px;

}
.bosque-pokemon{
    width: 100%;
    margin: 10% 0;
    background: #ffffff;
    color: #000000;
    padding: 20px 0px;
    border-radius: 10px;
    border: solid 5px #ff0000;
    box-shadow: 5px 5px 4px;
    display: none;
}


.pasto{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    left: 0;
}
.pasto img:not(:nth-child(-n+12)){
    display: none;
}
.pokemon{
position: absolute;
display: grid;
grid-template-columns: repeat(3,1fr);
grid-template-rows: repeat(4,1fr);
width: calc(110*3px);
height: calc(146.667*4px);
top: 36%;
justify-items: center;
align-items: center;

}
.pikachu{

    opacity: 0;
    z-index: 4;
    transition: transform .2s;

}
.pikachu:hover{
    opacity: 100%;
    transform: scale(2);
}


.pasto img{
    width: 110px;
    filter:drop-shadow(0px 5px 3px) ;
}
.pasto img:hover{
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}
.centro{
    grid-area: centro;

}
.playa{
    grid-area: playa;

}
.footer{
    display: flex;
    flex-direction: column;
    background: #ff0000;
    border-top: solid 5px #000000;
    grid-area: footer;

    color: #ffffff;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
    width: 100%;
}
.footer h4{
    position: relative;
    left: 20px;
    font-size: 24px;
    margin-top: 5px;
}
.footer ul{
    position: relative;
    left: 30px;
    list-style: none;
    column-count: 2;
    font-size: 16px;
    height: 100%;

}
.footer ul li{
    text-align: start;
    padding: 10px;
    margin-left: 20%;
    color: #ffffff;

}
.footer i{
    font-size: 20px;
    text-shadow: 1px 1px 2px rgb(0, 0, 0) ;
}

footer{
    width: 100%;
}
.mediaq-view{
    display: none;
}



@media  screen and (min-width: 1023px){
    .container{
        display: grid;
        grid-template-columns: 0.2fr 1fr ;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:
        "nav prof  "
        "nav pasto  "
        "footer footer "
        ;
        height: 100vh;
    }

    .pokeball{
        position: relative;
        display: flex;
        justify-content: center;
        z-index: 3;
        
    }
    .pokeball button{
        position: relative;
        top: 25px;
        height: 60px;
        width: 60px;
    }
    .button p{
    display: none;
    
    }
    

    .menu{
        display: block;
        transition: none;
        justify-content: center;
        width: 100%;
        background: #ffff ;
        height: 100%;
        z-index: 2;
        
    }

    .menu ul{
        margin:0 60px;
        margin-top: 6rem;
    }
    .menu li{

    }
    .menu li {
        width: 100%;
        padding: 10px 0;
        border-radius: 15px;
    }
    .menu li:hover{
        background: #ff0000;
    }
    .menu li a:hover{
        color: #ffffff;
    }
    .bienvenida{
        position: relative;
        display: grid;
        grid-template-columns: 1fr 3fr;
        padding-left: 5%;
    }
    .prof img{
            width: 300px;
    }
    .genero{
        width: auto;
        display: flex;
        gap: 20px;
        justify-items: center ;
        align-items: center;

    }
    .genero img{
        height: auto;
        max-width: 200px;
    }

    .genero img:hover{
        transform: scale(1.5);
    }

    .bosque{
        grid-area: pasto;
        position: relative;
        margin-top: 10%;
        margin-bottom: 5%;

    }
    .bosque-text{
        width: 60%;
        margin: 0;
        background: #ffffff;
        color: #000000;
        padding: 20px 0px;
    }
    .footer h4{
        position: relative;
        left: 30%;
        font-size: 24px;
        margin-top: 10px;
    }
    .footer ul{
        position: relative;
        left: 30%;
        list-style: none;
        column-count: 2;
        font-size: 16px;
        height: 100%;
        width: 50%;
    }

    .pasto{
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        justify-items: center;
        align-content: center;
        gap: 0px;
        margin: 50px;

    }
    .pasto img:not(:nth-child(-n+12)){
        display: grid;
    }
    .pokemon{
        position: absolute;
        display: grid;
        grid-template-columns: repeat(8,1fr);
        grid-template-rows: repeat(4,1fr);
        width: calc(110*8px);
        height: calc(147*4px);
        top: 15.5%;
        justify-items: center;
        align-items: center;
    }
    .mediaq-view{
        display: flex;
    }
    .footer{
        width: 100%;
    }
}
@media  screen and (min-width: 1024px){

    main{
        display: flex;
        flex-direction: column;


    }

}
